* {
    padding: 0;
    margin: 0;
}

body {
    background: #f2f2f2;
}

.caja {
    width: 200px;
    height: 200px;
    background: #0e6ba8;
    margin: 20px;
    float: left;
}
/*.cajaPadre {
    margin: 20px;
    background: #2e294e;
    width: 500px;
    height: 500px;
    position: relative;

}*/

.posicionada {
    background: #6695e8;
    right: 200px;
    bottom: 0%;
    /*position: fixed;
    position: absolute;

Posicion absoluta
    top: auto; 
    right: auto;
    position: relative;
    left: 200px;
    bottom: 50px;

Posicion relativa
    position: absolute;
    top: 100px;
    left: 220px;

Posicionamiento fijo    

  */
    
    


}
